h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    text-align: center;
    font-size: 15vw;
    text-transform: uppercase;
    animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
   0%, 50%, 100% {transform: translateY(0);} 
   25% {transform: translateY(20%);} 
   75% {transform: translateY(30%);} 
} 